<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Themeapp"
        tools:targetApi="31">

        <activity
            android:name=".Details"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SecondRecycle"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Themeapp.NoActionBar">

        </activity>
        <activity
            android:name=".FirstRecycle"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/Themeapp.NoActionBar">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensor"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <meta-data android:name="applovin.sdk.key"
            android:value="3036mEs3wicxvvT8ebdgSu553pBmsm4Q5VoJp-P0mAhMQ9p0kh8O7ocuyXLHkOWt4P-KLeJC0iFlEfh-15oFXR"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

    </application>

</manifest>